*.7z
*.aux
*.bbl
*.bbl-SAVE-ERROR
*.bat
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glo
*.gls
*.gz
*.hd
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.rar
*.run.xml
*.sublime-project
*.sublime-workspace
*.synctex
*.synctex(busy)
*.toc
*.xdv
*.xml
*.zip
.DS_Store
.vscode/
build/
test/
xelatex*.fls
xduts.pdf
xdupgthesis_template.pdf
xdupgthesis_template_lc.pdf
xdupgthesis_template_lc copy.pdf
参考文献pdf/
